    /* 背景透明化 */
    body {
        margin: 10px;
        padding: 10px;
        background-image: url("../../img/login.jpg");
        background-size: cover;
        opacity: 0.8;
        position: absoluate;

    }