     /* 背景透明化 */

     body {
         margin: 0px;
         padding: 0px;
         background: #fff url(https://images.unsplash.com/photo-1473181488821-2d23949a045a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)center center fixed no-repeat;
         background-size: cover;
         opacity: 0.8;
         margin-top: 8px;
         margin-bottom: 4px;
     }
 